Source: openmediavault-dnsmasq
Section: misc
Priority: optional
Maintainer: Marcel Beck <marcel.beck@mbeck.org>
Build-Depends: debhelper (>= 7 )
Standards-Version: 3.9.3
Homepage: http://omv-plugins.org

Package: openmediavault-dnsmasq
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 0.4), dnsmasq
Description: OpenMediaVault dnsmasq (local DNS and DHCP server) plugin
 Configure local DNS and DHCP through OpenMediaVault
