Source: openmediavault-dnsmasq
Section: misc
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 3.9.3
Homepage: http://omv-extras.org/

Package: openmediavault-dnsmasq
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 1.0.8), dnsmasq
Description: OpenMediaVault dnsmasq (local DNS and DHCP server) plugin
 Configure local DNS and DHCP through OpenMediaVault
